{{ include('header.html.twig') }} 
          
            <div class="content-page">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                                <div>
                                    <h4 class="mb-3">Usuarios</h4>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="table-responsive mb-3">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-left">Usuario</th>
                                            <th class="text-center">Activo</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td class="text-left">{{ user.username }}</td>
                                            <td class="text-center">{{ user.active ? 'Sí' : 'No' }}</td>
                                            <td>
                                                <a class="badge bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar" href="{{ path('app_users_edit', {'id': user.id}) }}">
                                                    <i class="ri-pencil-line"></i>
                                                </a>
                                                {{ include('users/_delete_form.html.twig') }}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">Sin registros</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    
{{ include('footer.html.twig') }} 
